name: 打包

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: 拉取代码
        uses: actions/checkout@v5
      - name: 安装环境
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: 设置变量
        run: |
          echo "NUITKA_PATH=$env:LOCALAPPDATA\Nuitka\Nuitka\Cache" >> $env:GITHUB_ENV
          echo "PIP_PATH=$env:LOCALAPPDATA\pip\cache" >> $env:GITHUB_ENV
          echo "MONTH=$(Get-Date -Format "MM")" >> $env:GITHUB_ENV
      - name: 依赖缓存
        uses: actions/cache@v4
        with:
          path: ${{ env.PIP_PATH }}
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: ${{ runner.os }}-pip-
      - name: 安装依赖
        run: |
          pip install -r requirements.txt
      - name: 编译缓存
        uses: actions/cache@v4
        with:
          path: ${{ env.NUITKA_PATH }}
          key: ${{ runner.os }}-nuitka-${{ env.MONTH }}
          restore-keys: ${{ runner.os }}-nuitka-
      - name: 获取版本
        id: version
        uses: juliangruber/read-file-action@v1
        with:
          path: version.json
      - name: 开始编译
        run: |
          .\build.ps1 -version ${{ fromJson(steps.version.outputs.content).version }}
      - name: 上传文件
        uses: actions/upload-artifact@v4
        with:
          name: mole
          path: D:\Downloads\*.exe
      - name: 发布版本
        uses: softprops/action-gh-release@v2
        with:
          name: ${{ fromJson(steps.version.outputs.content).version }}
          body: ${{ fromJson(steps.version.outputs.content).description }}
#          prerelease: false
          token: ${{ secrets.GITHUB_TOKEN }}
          files: D:\Downloads\*.exe