name: 打包

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: 拉取代码
        uses: actions/checkout@v5
      - name: 安装环境
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: 设置变量
        run: |
          echo "NUITKA_PATH=$env:LOCALAPPDATA\Nuitka\Nuitka\Cache" >> $env:GITHUB_ENV
          echo "PIP_PATH=$env:LOCALAPPDATA\pip\cache" >> $env:GITHUB_ENV
      - name: 依赖缓存
        uses: actions/cache@v4
        with:
          path: ${{ env.PIP_PATH }}
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: ${{ runner.os }}-pip-
      - name: 安装依赖
        run: |
          pip install -r requirements.txt
      - name: 编译缓存
        uses: actions/cache@v4
        with:
          path: ${{ env.NUITKA_PATH }}
          key: ${{ runner.os }}-nuitka-${{ hashFiles('dict.py') }}
          restore-keys: ${{ runner.os }}-nuitka-
      - name: 开始编译
        run: |
          (chcp 936) -and (echo "Yes" | .\package.bat)
      - name: 上传文件
        uses: actions/upload-artifact@v4
        with:
          name: mole
          path: D:\Downloads\*.exe