name: 打包

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
#      - name: 拉取代码
#        uses: actions/checkout@v5
#      - name: 安装环境
#        uses: actions/setup-python@v6
#        with:
#          python-version: 3.12
#      - name: 安装依赖
#        run: |
#          pip3 install -r requirements.txt
      - name: 设置路径变量
        run: |
          $nuitka = "$env:LOCALAPPDATA\Nuitka\Nuitka\Cache"
          $mingw64 = "$nuitka\downloads\gcc\x86_64\14.2.0posix-19.1.1-12.0.0-msvcrt-r2"
          echo "NUITKA_PATH=$nuitka" >> $env:GITHUB_ENV
          echo "MINGW64_PATH=$mingw64" >> $env:GITHUB_ENV
          echo "$mingw64\mingw64\bin" >> $env:GITHUB_PATH
      - name: 测试变量
        run: |
          [System.Environment]::GetEnvironmentVariable("Path", "Machine")
#      - name: 恢复编译环境
#        id: restore-mingw64
#        uses: actions/cache@v4
#        with:
#          path: |
#            ${{ env.NUITKA_PATH }}\downloads\depends
#            ${{ env.MINGW64_PATH }}\mingw64
#          key: ${{ runner.os }}-mingw64-14.2.0
#          restore-keys: ${{ runner.os }}-mingw64-
#      - name: 安装编译环境
#        if: steps.restore-mingw64.outputs.cache-hit != 'true'
#        uses: robinraju/release-downloader@v1
#        with:
#          repository: brechtsanders/winlibs_mingw
#          tag: 14.2.0posix-19.1.1-12.0.0-msvcrt-r2
#          fileName: winlibs-x86_64-posix-seh-gcc-14.2.0-llvm-19.1.1-mingw-w64msvcrt-12.0.0-r2.zip
#          extract: true
#          out-file-path: ${{ env.MINGW64_PATH }}
#      - name: 恢复编译缓存
#        id: restore-nuitka-cache
#        uses: actions/cache@v4
#        with:
#          path: |
#            ${{ env.NUITKA_PATH }}\ccache
#            ${{ env.NUITKA_PATH }}\clcache
#            ${{ env.NUITKA_PATH }}\library_dependencies
#            ${{ env.NUITKA_PATH }}\module-cache
#          key: ${{ runner.os }}-nuitka-cache
#          restore-keys: ${{ runner.os }}-nuitka-
#      - name: 开始打包
#        shell: pwsh
#        run: |
#          (chcp 936) -and (echo "Yes" | .\package.bat)
#      - name: 上传文件
#        uses: actions/upload-artifact@v4
#        with:
#          name: mole
#          path: |
#            D:\Downloads\*.exe