name: 打包

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: 拉取代码
        uses: actions/checkout@v5
      - name: 安装环境
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: 安装依赖
        run: |
          pip install -r requirements.txt
      - name: 设置路径变量
        run: |
          echo "CACHE_PATH=$env:LOCALAPPDATA\Nuitka\Nuitka\Cache" >> $env:GITHUB_ENV
      - name: 恢复编译缓存
        uses: actions/cache@v4
        with:
          path: ${{ env.CACHE_PATH }}
          key: ${{ runner.os }}-nuitka-cache
          restore-keys: ${{ runner.os }}-nuitka-
      - name: 开始打包
        run: |
          (chcp 936) -and (.\package.bat)
      - name: 上传文件
        uses: actions/upload-artifact@v4
        with:
          name: mole
          path: D:\Downloads\*.exe